.primary-nav {
  color: blue;
}
.primary-nav > .container {
  justify-content: flex-start !important;
}
.primary-nav > .container > a {
  margin-left: 2%;
}

.brand-text {
  display: inline;
  font-family: "Zilla Slab Highlight", cursive;
  font-size: 2rem;
  color: #38ec20;
}

.container > a {
  font-family: "Manrope", sans-serif;
  color: rgba(255, 255, 255, 0.493);
  text-decoration: none;
}
.container > a:hover {
  color: white;
}

.second-nav {
  font-family: "Manrope", sans-serif;
  font-style: bold;
  font-size: 1.5rem;
}
.nav-text {
  font-family: "Zilla Slab Highlight", cursive;
  font-size: 1.5rem;
  color: white;
}

.navbar-spacer {
  padding-top: 5px;

  background: linear-gradient(
    90deg,
    #38ec20,
    #13fff7,
    #808eff,
    #ef5aff,
    #ffd423,
    #ff5f23,
    #ff26b4
  );
  background-size: 1200% 1200%;

  -webkit-animation: NavbarGradientAnimation 20s ease infinite;
  -moz-animation: NavbarGradientAnimation 20s ease infinite;
  animation: NavbarGradientAnimation 20s ease infinite;
}

@-webkit-keyframes NavbarGradientAnimation {
  0% {
    background-position: 76% 0%;
  }
  50% {
    background-position: 25% 100%;
  }
  100% {
    background-position: 76% 0%;
  }
}
@-moz-keyframes NavbarGradientAnimation {
  0% {
    background-position: 76% 0%;
  }
  50% {
    background-position: 25% 100%;
  }
  100% {
    background-position: 76% 0%;
  }
}
@keyframes NavbarGradientAnimation {
  0% {
    background-position: 76% 0%;
  }
  50% {
    background-position: 25% 100%;
  }
  100% {
    background-position: 76% 0%;
  }
}
