.primary-nav {
  color: blue;
}
.primary-nav > .container {
  justify-content: flex-start !important;
}
.primary-nav > .container > a {
  margin-left: 2%;
}

.brand-text {
  display: inline;
  color: #38ec20;
  font-family: "Zilla Slab Highlight", cursive;
  font-size: 2rem;
}

.container > a {
  font-family: "Manrope", sans-serif;
  color: rgba(255, 255, 255, 0.493);
  text-decoration: none;
}
.container > a:hover {
  color: white;
}

.navbar-spacer {
  color: #38ec20;
}

.second-nav {
  font-family: "Manrope", sans-serif;
  font-style: bold;
  font-size: 1.5rem;
}
.nav-text {
  font-family: "Zilla Slab Highlight", cursive;
  font-size: 1.5rem;
  color: white;
}
