.album-container {
  min-width: 100%;
  margin: 0px;
  padding: 0px;
}

.loading-spinner {
  font-family: "Manrope", sans-serif;
  display: flex;
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
  justify-content: center;
}
